<div id="first-row">
    <button type="button">Create new Note</button>
    <button type="button">Style Switcher</button>
</div>
<div id="second-row">
    <div>
        <button class="active" type="button">By finish Date</button>
        <button type="button">By create Date</button>
        <button type="button">By importance</button>
    </div>
    <div>
        <button type="button">Hide finished</button>
    </div>
</div>
<div class="note-row">
    <div>
        <input id="finished-note" type="checkbox" name="Finished" checked>
        <label for="finished-note">Finished</label>
    </div>
    <div class="note-content-row">
        <div class="note-content-title-row">
            <label for="note-text">Random title</label>
            <span>X X X X</span>
        </div>
        <div>
            <textarea id="note-text" name="Note text" rows="3" cols="60">Hello my friend</textarea>
        </div>
    </div>
    <div>
        <button type="button">Edit</button>
    </div>
</div>
