<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Notes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>

{{#equal theme "dark"}}
    <p>
        Hint: dark theme active!
    </p>
{{/equal}}

<div class="container">

    {{{body}}}

</div>

</body>
</html>
