<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Notes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    {{#equal theme "dark"}}
        <link rel='stylesheet' href='/stylesheets/style-dark.css' />
    {{/equal}}
</head>
<body>

{{#equal theme "dark"}}
    Hint: dark theme active!
{{/equal}}

{{{body}}}

</body>
</html>
